<div align="center">
  <h1>Cadastro Admin</h1>

  <%= form_with model: @admin, url: cadastro_path do |form| %>
    <%if @admin.errors.any? %>
        <div class="alert alert-danger">
            <% @admin.errors.full_messages.each do |messages| %>
                <div>
                    <%= messages %>
                </div>
          <% end %>
        </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :usuario %><br>
      <%= form.text_field :usuario,class:"form_control" %>
    </div><br>

    <div class="mb-3">
      <%= form.label :senha %><br>
      <%= form.password_field :password,class:"form_control" %>
    </div><br>

    <div class="mb-3">
      <%= form.label :confirmar_senha %><br>
      <%= form.password_field :password_confirmation,class:"form_control" %>
    </div><br>

    <div class="mb-3">
      <%= form.submit "Criar" , class:"btn btn-primary"%>
    </div>
  <% end %>
</div>
