<div id="<%= dom_id dentistum %>">
  <p>
    <strong>Nome:</strong>
    <%= dentistum.nome %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= dentistum.telefone %>
  </p>

  <p>
    <strong>CRO:</strong>
    <%= dentistum.CRO %>
  </p>

  <p>
    <strong>CPF:</strong>
    <%= dentistum.CPF %>
  </p>

  <p>
    <strong>Especialização:</strong>
    <%= dentistum.especializacao %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= dentistum.data %>
  </p>

  <p>
    <strong>Hora de início das consultas:</strong>
    <%= dentistum.horaInicio %>
  </p>

  <p>
    <strong>Hora de término das consultas:</strong>
    <%= dentistum.horaTermino %>
  </p>

</div>
