<p style="color: green"><%= notice %></p>

<%= render @dentistum %>

<div>
  <%= link_to "Editar este dentista", edit_dentistum_path(@dentistum) %> |
  <%= link_to "Voltar para dentistas", dentista_path %>

  <%= button_to "Destruir este dentista", @dentistum, method: :delete %>
</div>
