<%= form_with(model: paciente) do |form| %>
  <% if paciente.errors.any?%>
    <div style="color: red">
      <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
        <% paciente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Paciente</h2>
  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :nascimento, style: "display: block" %>
    <%= form.date_field :nascimento %>
  </div>

  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label :telefone, style: "display: block" %>
    <%= form.text_field :telefone %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>



  <%= form.fields_for :endereco_paciente do |formu| %>
    <div>
      <%= formu.label :cep %><br>
      <%= formu.text_field :cep %>
      <% paciente.errors[:endereco_paciente_attributes].each do |message| %>
        <div>
          <%= message %>
        </div>
      <% end %>
    </div>
    <div>
      <%= formu.label :cidade %><br>
      <%= formu.text_field :cidade %>
    </div>

    <div>
      <%= formu.label :bairro %><br>
      <%= formu.text_field :bairro %>
    </div>

    <div>
      <%= formu.label :logradouro %><br>
      <%= formu.text_field :logradouro %>
    </div>

    <div>
      <%= formu.label :complemento %><br>
      <%= formu.text_field :complemento %>
    </div>

  <% end %>
  <div>
    <%= form.submit %>
  </div>
<% end %>