<div id="<%= dom_id paciente %>">
  <h2>Paciente</h2>
  <ul>
  <p>
    <strong>Nome:</strong>
    <%= paciente.nome %>
  </p>

  <p>
    <strong>Nascimento:</strong>
    <%= paciente.nascimento %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= paciente.cpf %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= paciente.telefone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= paciente.email %>
  </p>
  </ul>
  <h2>Endereço</h2>
  <ul>
    <p>
      <strong>Cep:</strong>
      <%= paciente.endereco_paciente.cep %>
    </p>

    <p>
      <strong>Cidade:</strong>
      <%= paciente.endereco_paciente.cidade %>
    </p>

    <p>
      <strong>Bairro:</strong>
      <%= paciente.endereco_paciente.bairro %>
    </p>

    <p>
      <strong>Logradouro:</strong>
      <%= paciente.endereco_paciente.logradouro %>
    </p>

    <p>
      <strong>Complemento:</strong>
      <%= paciente.endereco_paciente.complemento %><br>
    </p>
  </ul>


</div>
