<div id="<%= dom_id paciente %>">
  <p>
    <strong>Nome:</strong>
    <%= paciente.nome %>
  </p>

  <p>
    <strong>Nascimento:</strong>
    <%= paciente.nascimento %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= paciente.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= paciente.email %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= paciente.endereco %>
  </p>

</div>
