<p style="color: green"><%= notice %></p>

<%= render @paciente %><br>

<div>
  <%= link_to "Edit this paciente", edit_paciente_path(@paciente) %><br><br>
  <%= link_to "voltar pra o Menu Principal", root_path  %><br><br>
  <%= button_to "Destroy this paciente", @paciente, method: :delete %>
</div>
