<div align="center">
<h1>
  <%="Bem vindo, " + @admin.usuario + "!"%>
</h1><br><br>

<%=link_to "cadastrar dentista", new_admin_dentistum_path(@admin)%><br><br>
<%=link_to "visualizar dentistas", admin_dentista_path(@admin) ,method: :get %><br><br>
<%=link_to "cadastrar paciente",new_paciente_path  %><br><br>
<%=link_to "visualizar pacientes", "pacientes" %><br><br>
  <%=link_to "Agendar Consultas", new_consultum_path  %><br><br>
  <%=link_to "visualizar Consultas", "consulta" %><br><br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <%=button_to "Sair da Conta",logout_path, method: :delete %>
  <br>
  <br>
</div>