<div id="<%= dom_id consultum %>">
  <p>
    <strong>Data:</strong>
    <%= consultum.data %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= consultum.horario %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= consultum.paciente.nome %>
  </p>

  <p>
    <strong>Dentistum:</strong>
    <%= consultum.dentistum.nome %>
  </p>

</div>
