<%= form_with(model: recepcionistum) do |form| %>
  <% if recepcionistum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recepcionistum.errors.count, "error") %> prohibited this recepcionistum from being saved:</h2>

      <ul>
        <% recepcionistum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :credencial, style: "display: block" %>
    <%= form.text_field :credencial %>
  </div>

  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label :telefone, style: "display: block" %>
    <%= form.text_field :telefone %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
