<div id="<%= dom_id recepcionistum %>">
  <p>
    <strong>Nome:</strong>
    <%= recepcionistum.nome %>
  </p>

  <p>
    <strong>Credencial:</strong>
    <%= recepcionistum.credencial %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= recepcionistum.cpf %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= recepcionistum.telefone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= recepcionistum.email %>
  </p>

</div>
