<p style="color: green"><%= notice %></p>

<%= render @recepcionistum %>

<div>
  <%= link_to "Edit this recepcionista", edit_recepcionistum_path(@recepcionistum) %> |
  <%= link_to "voltar pra o Menu Principal", root_path  %><br><br>
  <%= button_to "Destroy this recepcionista", @recepcionistum, method: :delete %>
</div>
